.container {
  border: none;
  width: 650px;
  margin: 20px;
  max-height: 1400px;
  border-radius: 20px;
  text-align: center;
  border: 20px solid rgba(24, 21, 23, 0.637);
  background-color: rgb(253, 242, 249);
  
}

.main_display {
  width: 600px;
  /* margin: 10px; */
  padding: 2px;
 margin-left: 15px;
  text-align: right;
  line-height: 80px;
  height: 80px;
  border-radius: 10px;
  border-top: 4px solid rgb(6, 7, 6);
  border-bottom: 4px solid rgb(6, 7, 6);
  /* background-color: #ffff; */
  font-size: 40px;
  color: rgb(24, 22, 22);
  overflow: hidden;
}

.display {
 
  float: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 400px;
  width: 600px;
  margin-left: 300px;
  margin: 10px;
  background-color: hwb(180 92% 4%);
  padding: 10px;
 
}

.button {
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 3px;
  padding-top: 20px;
  background-color: rgb(19, 58, 58);
border-bottom: 2px solid rgb(114, 4, 77);
/* box-shadow: rgb(88, 206, 52); */
  color: white;
}






.button:hover {
  background-color: rgb(103, 174, 216);
}
